@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
        
    * {
            text-decoration: none;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            background-color: #222831;
            font-family: 'DM Sans', sans-serif;
        }

        .navbar {
            font-family: Arial;
            padding: 25px;
        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #00ADB5;
            overflow: hidden;
            border: 1px solid black;
        }

        .navbar li {
            float: left;
            border: 1px solid black;
        }

        .navbar li a {
            display: block;
            padding: 25px 30px;
            text-align: center;
            text-decoration: none;
            color: black;
            font-size: 20px;
        }

        .navbar li:hover {
            background-color: #006267;
        }

        table {
            border-collapse: collapse;
            width: 80%;
            margin-top: 50px;
            background-color: #EEEEEE;
        }

        th, td {
            border: 3px solid black;
            padding: 15px;
            text-align: center;
            font-size: 20px;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Styles for the "Add Item" button */
        .add-item-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: #00ADB5;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-item-button :hover {
            background-color: #006267;;
        }
        
        button {
            padding: 8px 12px;
            margin-right: 5px;
            width: 85px;
            cursor: pointer;
            background-color: #4CAF50; /* Green color */
            color: white;
            border: none;
            border-radius: 4px;
        }

        .popup-stock{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            background-color: white;
            border: black 1px solid;
            position: absolute;
            height: auto;
            width: 300px;
            padding: 30px 20px 30px 20px;
            border-radius: 40px;
            top: 50%;
        }

        .popup-stock p{
            font-size: 20px;
        }

        .popup-stock label{
            font-size: 20px;
            font-weight: 700;
        }

        .popup-stock input{
            height: 80px;
            width: 100px;
            line-height: 80px;
            text-align: center;
            font-size: 30px; 
        }

        .popup-stock button{
            height: 40px;
            text-transform: uppercase;
            background-color: #006267;
            font-weight: 700;
        }
